{% extends 'core/base.html'%}
{% block content%}
{% load static %}
<div class="container mt-5">
    <h1 class="mb-5 text-warning border-bottom">Services</h1>
    <div class="row text-white text-center mb-5">
        <div class="col-sm-4 mb-5 ">
            <i class="fas fa-search-dollar fa-2x mb-3 "style="color:chartreuse"></i>
            <h3> SEO</h3>
            <p style="color: whitesmoke;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi ex error harum quasi alias optio!</p>
        </div>
        <div class="col-sm-4 mb-5 ">
            <i class="fa-solid fa-palette fa-2x mb-3"style="color:chartreuse"></i>
            <h3> Web Design</h3>
            <p style="color: whitesmoke;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi ex error harum q uasi alias optio!</p>
        </div>
        <div class="col-sm-4 mb-5 ">
            <i class="fas fa-code fa-2x mb-3"style="color:chartreuse"></i>
            <h3> Web Development</h3>
            <p style="color: whitesmoke;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi ex error harum quasi alias optio!</p>
        </div>

    </div>
    <div class="row text-white text-center mb-5">
        <div class="col-sm-4 mb-5 ">
            <i class="fas fa-brands fa-android fa-2x mb-3"style="color:chartreuse"></i>
            <h3> Android</h3>
            <p style="color: whitesmoke;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi ex error harum quasi alias optio!</p>
        </div>
        <div class="col-sm-4 mb-5 ">
            <i class="fa-brands fa-app-store-ios fa-2x mb-3"style="color:chartreuse"></i>
            <h3> iOS</h3>
            <p style="color: whitesmoke;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi ex error harum quasi alias optio!</p>
        </div>
        <div class="col-sm-4 mb-5 ">
            <i class="fas fa-ad fa-2x mb-3"style="color:chartreuse"></i>
            <h3> Advertisement</h3>
            <p style="color: whitesmoke;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi ex error harum quasi alias optio!</p>
        </div>

    </div>
    <div class="row text-white text-center mb-5">
        <div class="col-sm-4 mb-5 ">
            <i class="fas fa-pencil fa-2x mb-3"style="color:chartreuse"></i>
            <h3> Logo Design</h3>
            <p style="color: whitesmoke;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi ex error harum quasi alias optio!</p>
        </div>
        <div class="col-sm-4 mb-5 ">
            <i class="fas fa-database fa-2x mb-3"style="color:chartreuse"></i>
            <h3> Hosting</h3>
            <p style="color: whitesmoke;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi ex error harum quasi alias optio!</p>
        </div>
        <div class="col-sm-4 mb-5 ">
            <i class="fas fa-headset fa-2x mb-3"style="color:chartreuse"></i>
            <h3> Support</h3>
            <p style="color: whitesmoke;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi ex error harum quasi alias optio!</p>
        </div>

    </div>
</div>



{% endblock content%}